body{
  background-color: #A2B5CD;
  font-family: 'Noto Sans KR';
  font-weight: bold;
}

section{
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  margin-top: 100px;
  background-color: white;
  padding:15px;
  border: 1px solid black;
  border-radius: 5px;
  
}
section h1{
  font-size: 20px;
}

header{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrDgvLLEAPn0lZepqMAD0wmhPpZ-589wZZJw&usqp=CAU ");
  background-size: cover;
  height: 80px;
  border-radius: 5px;
}
  
div{
  padding: 15px;
  border: 1px solid black;
  background-color: #bac3d6;
  border-radius: 5px;
     
}
img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  height: 150px;
  border-radius:100%;
  transform: translateY(-50%);
  border: 8px solid white;
     
}
h1, h2{
  text-align: center;
}